In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_excel('D:/Inuron/credit_analysis/notebooks/data/default of credit card clients.xls',header=1)
df.rename(columns={'default payment next month':'payment_next_month'},inplace=True)

In [4]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,payment_next_month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [5]:
df=df.drop(labels=['ID'],axis=1)

In [6]:
X=df.drop(labels=['payment_next_month'],axis=1)
Y=df['payment_next_month']

In [7]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [8]:
numerical_columns = df.columns[(df.dtypes != 'object') & (df.columns != 'payment_next_month')]

In [9]:
numerical_columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6'],
      dtype='object')

In [10]:
#numerical_columns = ['ID','LIMIT_BAL','SEX','EDUCATION','MARRIAGE','AGE','PAY_0','PAY_2','PAY_3','PAY_4','BILL_AMT4','BILL_AMT5','BILL_AMT6','PAY_AMT1','PAY_AMT2','PAY_AMT3','PAY_AMT4','PAY_AMT5','PAY_AMT6']  # Replace with your actual numerical column names

num_pipeline = Pipeline(
    steps=[
        ('imputer', SimpleImputer(strategy='median')),
        ('scaler', StandardScaler())
    ]
)

preprocessor = ColumnTransformer([
    ('num_pipeline', num_pipeline, numerical_columns)
])

In [11]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.30,random_state=21)

In [12]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())
X_train.head()

,num_pipeline__LIMIT_BAL,num_pipeline__SEX,num_pipeline__EDUCATION,num_pipeline__MARRIAGE,num_pipeline__AGE,num_pipeline__PAY_0,num_pipeline__PAY_2,num_pipeline__PAY_3,num_pipeline__PAY_4,num_pipeline__PAY_5,...,num_pipeline__BILL_AMT3,num_pipeline__BILL_AMT4,num_pipeline__BILL_AMT5,num_pipeline__BILL_AMT6,num_pipeline__PAY_AMT1,num_pipeline__PAY_AMT2,num_pipeline__PAY_AMT3,num_pipeline__PAY_AMT4,num_pipeline__PAY_AMT5,num_pipeline__PAY_AMT6
0,-1.061879,-1.238831,1.442629,0.860246,1.800231,0.900479,1.776140,0.139762,0.195697,0.240298,...,-0.437292,-0.433698,-0.427360,-0.498955,-0.365974,-0.203423,-0.186780,-0.325992,-0.318709,-0.233260
1,-0.675740,0.807213,0.183581,-1.056686,-0.700126,0.012141,0.109856,0.139762,0.195697,0.240298,...,-0.418406,-0.444751,-0.457466,-0.459544,-0.259311,-0.191393,-0.220292,-0.257210,-0.252036,-0.230038
2,0.559906,0.807213,0.183581,0.860246,1.691520,-1.764536,-1.556428,-1.535943,-1.528141,-1.539374,...,-0.666203,-0.661511,-0.651099,-0.639428,-0.101629,-0.232432,-0.261995,-0.278119,-0.272305,-0.201408
3,-1.139107,-1.238831,0.183581,0.860246,-1.134970,0.900479,1.776140,0.139762,0.195697,0.240298,...,-0.459854,-0.461685,-0.467699,-0.481182,-0.366371,-0.211504,-0.269032,-0.296897,-0.293773,-0.248632
4,-0.907423,0.807213,1.442629,-1.056686,2.778631,-0.876198,-0.723286,-1.535943,-1.528141,-1.539374,...,-0.676199,-0.672285,-0.662550,-0.651076,-0.366371,-0.264029,-0.302140,-0.325992,-0.318709,-0.272190

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,roc_auc_score,accuracy_score,f1_score,precision_score,recall_score

In [14]:

model=LogisticRegression()
model.fit(X_train,Y_train)
y_pred=model.predict(X_test)

In [15]:
def evaluate_model(true,predicted):
    model_score=accuracy_score(true,predicted)
    confusion=confusion_matrix(true,predicted)
    auc_score=roc_auc_score(true,predicted)
    print('Model_score: ',model_score)
    print('Confusion_matrix: ',confusion)
    print('AUC_score: ',auc_score)

In [16]:
evaluate_model(Y_test,y_pred)

Model_score:  0.8093333333333333
Confusion_matrix:  [[6814  186]
 [1530  470]]
AUC_score:  0.6042142857142856